@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Poppins", "Courier New", Courier, monospace;
  list-style-type: none;
}
body {
  height: 100%;
  margin: 0;
  padding: 1.5rem;
}
.app {
  display: grid;
  grid-template-columns: 1.5fr 3fr;
}
.workouts {
  padding: 1rem;
  grid-column: 1;
  display: flex;
  flex-direction: column;
  height: 93vh;
  background-color: #2d3439;
}

.logo {
  width: 4.5rem;
  height: 4rem;
  border-radius: 50%;
  align-self: center;
}
.logo_name {
  margin-top: 0;
  color: white;
  align-self: center;
}
.workout_running {
  display: grid;
  grid-template-columns: 1fr 1.1fr 1.4fr 1.2fr;
  width: 25rem;
  padding: 0rem 1rem 1rem 1.5rem;
  background-color: #42484d;
  border-radius: 0.3rem;
  margin-bottom: 0.7rem;
  border-left: 5px solid rgb(226, 50, 50);
}
.workout_cycling {
  display: grid;
  grid-template-columns: 1fr 1.1fr 1.4fr 1.2fr;
  width: 25rem;
  padding: 0rem 1rem 1rem 1.5rem;
  background-color: #42484d;
  border-radius: 0.3rem;
  margin-bottom: 0.7rem;
  border-left: 5px solid rgb(28, 238, 77);
}
.workout_title {
  font-size: 1rem;
  color: antiquewhite;
  font-weight: 300;
  grid-column: 1/-1;
}
.workout_details {
  color: antiquewhite;
  font-size: 0.8rem;
  font-weight: 200;
}
.form.hidden {
  transform: translateY(-1rem);
  opacity: 0;
  height: 0;
  padding: 0;
  margin: 0;
}
.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem 2rem;
  width: 25rem;
  padding: 1rem;
  background-color: #42484d;
  border-radius: 0.3rem;
  margin-bottom: 0.8rem;
  transition: all 0.5s;
}
.row {
  display: flex;
  justify-content: space-between;
}
.hidden_row {
  display: none;
}
.label {
  font-size: 0.9rem;
  color: white;
}
.input {
  width: 5rem;
  border-radius: 0.4rem;
}
.map {
  grid-column: 2;
  background-color: aqua;
}
/* .leaflet-popup  */
.running-popup .leaflet-popup-content-wrapper {
  border-left: 5px solid rgb(226, 50, 50);
}
.cycling-popup .leaflet-popup-content-wrapper {
  border-left: 5px solid rgb(28, 238, 77);
}
